<a href="https://colab.research.google.com/github/Fathimasalamk/ML-AI/blob/day1/day1assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,3,4,5,6]
for item in a:
  print (a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
a={'shijina','goutham','zara'}
print(a)

{'shijina', 'zara', 'goutham'}

In [ ]:
names= ['shijina', 'aisha', 'fathima', 'priya']

for i in range(len(names))//2):
    temp = names[i]
    names[i] = names[-i-1]
    names[-i-1] = temp

print(names)

SyntaxError: ignored

In [ ]:
print(233)
print(4.9)

233
4.9

In [ ]:
print("welcome to",end='')
print("the world of python",end='')
print("\"welcome to the world or python\"")

welcome tothe world of python"welcome to the world or python"

In [ ]:
print("python"*3)

pythonpythonpython

In [ ]:
print("python\n"*3)

python
python
python

In [ ]:
s="python"
print(s[0])
print(s[-3])
print(s[1])
print(len(s))

p
h
y
6

In [ ]:
s="python"
print(s[0:4])
print(s[:3])
print(s[-5:-2])
print(s[0:6:2])

pyth
pyt
yth
pto

In [ ]:
a=[1,2,3,4,5,6]
for item in a:
  print (a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
for val in "string":
  if val=="i":
    continue
  print(val)
  print("the end ")

s
the end
t
the end
r
the end
n
the end
g
the end

In [ ]:
for val in "string":
  if val=="i":
    break
  print(val)
  print("the end ")

s
the end
t
the end
r
the end

In [ ]:
a=int(input("enter the first number1:"))
b=int(input("enter the second number2:"))
print('select operation:')
print('1.addition:')
print('2.subtraction:')
print('3.multiplication:')
print('4.division:')
n=int(input("enter the option:"))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
  r=a-b
  print(r)
elif(n==3):
  r=a*b
  print(r)
elif(n==4):
  r=a/b
  print(r)
else:
    print('wrong input:')

enter the first number1:2
enter the second number2:4
select operation:
1.addition:
2.subtraction:
3.multiplication:
4.division:
enter the option:1
6

In [ ]:
num=int(input("enter the number:"));
c=0
i=1
while(i<=num): 
 if num%i==0:
  c=c+1
  i=i+1
if c==2:
  print ("number is prime")
else:
  print("number is not prime")

enter the number:2
number is prime

In [ ]:
year=int(input("enter the number:"))
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
 print("not leap year")

enter the number:2020
leap year

In [ ]:
a=int(input("Enter the Number:"))
s=0
for i in range(0,a+1):
  s=s+i
print("The Sum  is:",s);

Enter the Number:5
The Sum  is: 15

In [ ]:
print(233)
print(4.9)

233
4.9

In [ ]:
array=['fathima','shifana','priya'];
for i in range(len(array)-1,-1,-1):
    print(array[i]);

priya
shifana
fathima

In [ ]:
def function_name(argument):
   #function perform operation

In [ ]:
def greet():
  print('hello')
greet()

hello

In [ ]:
def addnumber(num1,num2):
   sum=num1+num2
   print(sum)
addnumber(4,5)

9

In [ ]:
def squarenumber(num1):
   square=num1*num1
   print(square)
squarenumber(5)

25

In [ ]:
def sqr(a):
  print("square of a number is:",a*a)
n=int(input("enter the number:"))
sqr(n)

enter the number:2
square of a number is: 4

In [ ]:

list = [1,5,3,14,25,21]
s=0
for i in list:
  s = s+i
print("the sum is:",s)

the sum is: 69

In [ ]:
string = input("enter the string:")
print(len(string))

enter the string:how are you
11

In [ ]:
string = input("enter the string:")
print(len(string))
print(len(string)//2)

enter the string:how are you
11
5

In [ ]:
s1 = input("enter the first string:")
s2 = input("enter the second string:")
newstring = s1+" "+s2
print("sum of two strings are:",newstring)
print(len(newstring))

enter the first string:fathima
enter the second string:priya
sum of two strings are: fathima priya
13

In [ ]:
t1 = ('78','45','32','19','82','77','40','39')
list1 = list(t1)
list1[2]=100
print(list1)

['78', '45', 100, '19', '82', '77', '40', '39']

In [ ]:
list = [19,32,10,55,31,32,94,29,10,65,77,40,40]
list.remove(32)
while 40 in list:
    list.remove(40)
del list[5]
list[8]=300
list[2]+=200
print("the final list is:",list)
print("the length of final list:",len(list))
print("maximum value:",max(list))
print("the sum of final list is:",sum(list))

the final list is: [19, 10, 255, 31, 32, 29, 10, 65, 300]
the length of final list: 9
maximum value: 300
the sum of final list is: 751